[Unit]
Description=Flask-app
After=network.target

[Service]
WorkingDirectory=/home/artilerist47/test_home_work_3/
ExecStart=/home/artilerist47/env/bin/python app.py
Environment="APP_SETINGS=/home/artilerist47/config.py"
Restart=always

[Install]
WantedBy=multi-user.target