<!DOCTYPE html>
<html lang="ru">

    <head>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>SKYPROGRAM</title>
      <link href="../../static/css/styles.min.css" rel="stylesheet">

    </head>

<body>

  <header class="container header">
    <div class="header__wrapper">
        <a>skyprogram тут >>></a>
      <a href="/static" class="header__logo-link">
        <svg class="header__logo" width="177" height="26">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#skyprogram"></use>
        </svg>
      </a>
      <a href="/bookmarks" class="header__bookmark-btn">
        <img src="../static/img/bookmark.png" alt="" class="header__bookmark-icon" width="28">
        <span class="header__bookmark-counter">???</span>
      </a>
    </div>
  </header>

  <main class="container">
      {% for post in all_posts %}
      <section class="items">
          <div class="items__item item">
              <div class="item__top">
                  <a href="/posts/{{post.poster_name}}" class="item__head">
                      <div class="item__ava-wrap">
                          <img src="{{post.poster_avatar}}" alt="Аватар" class="item__ava" width="47">
                      </div>
                      <span class="item__username">{{post.poster_name}}</span>
                  </a>
              </div>
              <a href="/post/{{post.pk}}" class="item__post-link">
                  <img src="{{post.pic}}" width="348" alt="" class="item__post-img">
              </a>
              <p>{{post.content}}</p>
              <div class="item__post-info">
                  <div class="item__counter">
                    <img src="../../static/img/eye.png" alt="" class="item__counter-icon" width="26">
                    <span class="item__counter-text">{{ post.views_count }}</span>
                  </div>
              </div>
              <div class="item__post-bottom">
                <a href="/post/{{post.pk}}" class="item__btn-more">Подробнее</a>
                <button type="button" class="item__bookmark-btn">
                    <img src="../../static/img/bookmark.png" alt="" class="item__bookmark-icon" width="24">
                </button>
              </div>
          </div>
        {% endfor %}
  </main>
</body>
</html>
